
@import url('modal.css');
@font-face {
    src: url("../font/MiriamLibre-Regular.ttf");
    font-family: MiriamLibre;
  }
body{
    margin: 0;
    font-family: MiriamLibre;
    background: white;
}
a{
    text-decoration: none;
}
.align-center{
    text-align: center;
}
.align-right{
    text-align: right;
}
main{
    
    transition: margin-left 0.7s;
    font-family: Berlin-sans;
}

.post-item img{
    width: 87%;
    height: 78%;
}
.post-item{
    font-family: MiriamLibre;
        background: #3c281d75;
        /* margin-bottom: 20px; */
        padding: 20px;
        width: 30%;
        margin: 0 auto 20px;
    
}
.dash-content{
    padding-top: 80px;
}
main h1, main h2{
    font-weight: 400;
}
.menu-check{
    width: 50%;
    margin: 59px auto 0;
    background: linear-gradient(to right,#dedede,#f0f0f0);
    padding: 3%;
    border-radius: 6px;
    box-shadow: -1px 1px 6px #bfbfbf;
}
.menu-check > div a{
    color: #3d3d3d;
    font-size:20px;
}
.menu-check > div a:hover{
    color: #181818;
    font-size:20px;
    text-decoration: underline;
}
label{
    font-size: 20px;
    font-family: MiriamLibre;

}
.form-button{
    margin: 10px;
    width:50%;
    border-radius: 12px;
    padding: 14px 40px;
    font-family: MiriamLibre;
    background: linear-gradient(to right, #181818, #955f2d);
    line-height: 1.4em;
    color: white;
    outline: none;
    box-shadow: 0 7px 21px #d2d2d2;
    border: none;
    font-size: 30px;
}
.create-post{
    margin-top: 70px;
    font-family: MiriamLibre;
    color: white;
    line-height: 1.4em;
    background:linear-gradient(to right, #181818, #955f2d);
    outline: none;
    box-shadow: 0 7px 21px #d2d2d2;
    border: none;
    border-radius: 30px;
    width: 64%;
    height: 50px;
    font-size: 30px;
}
.create-post:hover{
    box-shadow: 3px 11px 28px #d2d2d2;
    cursor: pointer;
}
.create-post:active{
    box-shadow: 3px 11px 28px #d2d2d2;
    transform: translateY(3px);
    border: none;
}
.create-post:focus{
    outline: none;
}

@media screen and (max-width:1022px){

    main{
        margin-left:0px;
    }
    .create-post{
        width: 74%;
    }
    .post-item{
        width: 60%;
    }
}

@media screen and (max-width:760px) and (min-width:680px){
    .create-post{
        width: 84%;
    }
}

@media screen and (max-width:680px) and (min-width:546px){
    .menu-check{
        width:70%;
    }
}
@media screen and (max-width:546px) and (min-width:411px){
    .menu-check{
        width:90%;
    }
}
@media screen and (max-width:411px){
    .menu-check{
        width:90%;
    }
    .create-post{
        width: 100%;
    }
    .post-item{
        width: 80%;
    }
}